# ベースライブラリ
numpy==1.24.4
pandas
scikit-learn

# 画像処理関連
opencv-python
pillow
pytorch-gradcam

# 深層学習フレームワーク関連
torch==2.1.2
torchaudio
torchvision==0.16.0
timm==0.6.12
torchinfo
torchviz

# グラフ描画
matplotlib==3.7.1

# オートメーション・API関連
beautifulsoup4
google_images_download
google_images_search
python-dotenv
requests
selenium
webdriver-manager

# インタラクティブ開発
ipython
jupyterlab

# その他
einops
kaggle
pytorch-gradcam
